<!--- End of Our Location -->
<div class="row footer bg-light">
    <div class="col">
        <p class="text-center">Follow us: <a class="social-icon" href="https://www.facebook.com/rubiktechnologiesShpk/"><i class="fab fa-facebook"></i></a> <a class="social-icon" href="https://www.instagram.com/rubiktechnologies/"><i class="fab fa-instagram"></i></a></p>
    </div>
    <div class="col">
        <p class="text-center">Copyright &copy; 2018</p>
    </div>
    <div class="col">
        <p class="text-center">Powered by: <a href="https://rubik-technologies.com/">Rubik Technologies</a></p>
    </div>
</div>

<footer class="container">
<div class= "row only-mobile">
    <div class="col-6">
        <a class="btn btn-primary btn-block text-center" href="tel:++390000000"><i class="fa fa-phone" aria-hidden="true"></i> Call</a>
    </div>
    <div class="col-6">
        <a class="btn btn-success btn-block text-center" href="https://api.whatsapp.com/send?phone=+390000000"><i class="fab fa-whatsapp" aria-hidden="true"></i> Whatsapp</a>
    </div>
</div>
</footer>

