  <!---Start navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
    <a class="navbar-brand" href="#Welcome">
       <img src="assets/images/logo.png" width="50" height="50" class="d-inline-block" alt=""> Oprah winfrey
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarText">
       <ul class="navbar-nav ml-auto">
             <li class="nav-item">
               <a class="nav-link ab" routerLink="home">Home</a>
             </li>
           <li class="nav-item">
               <a class="nav-link" routerLink="/restaurant">Restaurant</a>
           </li>
           <li class="nav-item">
               <a class="nav-link" routerLink="blog">Blog</a>
           </li>
         
           <li class="nav-item">
               <a class="nav-link" routerLink="location">Our Location</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink="inscription">Inscription</a>
         </li>
           <li class="nav-item">
               <a href="index.html" class="language" rel="en-En"><img src="assets/images/english.ico" class="flag" alt="English" /></a>
           </li>
       </ul>
   </div>
</nav>
<!--- End Navigation Bar -->
